@charset "UTF-8";
/* CSS Document */
*{
    box-sizing: border-box;
}
body{
    background: url("menaces.png") no-repeat fixed top right;
}
#containter{
    width: 800px;
        margin: 0 auto;
        position: relative;
        background-color: rgba(176, 214, 238, 0.6);
}
.left{
    width:380px;
    height:200px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    border-style: solid;
    border-width: 3px;
    float: left;
    margin: 10px;
    padding: 30px 30px 30px 30px;
    text-align: center;
}
.right{
    width:380px;
    height:200px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    border-style: solid;
    border-width: 3px;
    float: left;
    margin: 10px;
    padding: 30px 30px 30px 30px;
    text-align: center;
}
a:link{
    text-align: center;
    text-decoration: none;
    color: white;
}
a:hover{
    color:hotpink
}
div img{
    display: block;
    margin:20px;
    float: left;
    visibility: hidden;
}
footer{
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    clear: both;
    text-align: center;
}
body h1{
    text-align: center;
    margin-top: 10px;
}
.audiowide-regular {
  font-family: "Audiowide", sans-serif;
  font-weight: 400;
  font-style: normal;
}
